<div class="modal-scroll">
  <div class="view-plan-modal-box p_breakup iframe-box">
    <md-dialog >
      <md-dialog-content class="inner-modal" aria-label="Upload Document">
        <div class="plan-details-btn"> <a class="pclose-icon" ng-click="closeModal($event)" href="" tabindex="0"></a></div>
        <div class="container">
          <div class="row">
            <iframe src="http://qa.policybazaar.com/templates/policybazaar/motor-renewal-internal.php" border="0" scrolling="no" >
            </iframe>
          </div>
          <div class="row">
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>
