<div class="modal-scroll">
<div class="view-plan-modal-box">
    <md-dialog data-ng-controller="ViewPlanController">
        <md-dialog-content class="inner-modal">
            <div class="container-fluid">
                <form ng-submit="buyThisPlan(purchaseForm.$valid)" name="purchaseForm">
                    <div class="plan-space">
                        <div class="container">
                            <div class="row phr-bottom">
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <div class="plan-logo"><img ng-src='http://cdn.policybazaar.com/assets/Car/images/{{viewPlanQuote.SupplierId}}.png' /></div>
                                </div>
                                <div class="col-md-5 col-sm-7 col-xs-12">
                                    <div class="wrap-amount">
                                        <div class="assured-amount ps1"><fieldset class="s1"><legend><em>IDV</em></legend></fieldset><span>Rs. {{viewPlanQuote.Idv|amountConvertString}}</span></div>
                                        <div class="premium-amount ps1 ps2">
                                            <fieldset class="s1">
                                                <legend>
                                                    <em>Premium</em>
                                                </legend>
                                            </fieldset>
                                            <span >Rs. {{(viewPlanQuote.FinalPremium+addOn)|addCommas}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-11 col-xs-12">
                                    <div class="plan-details-btn">
                                        <!--<md-button data-ng-disabled="loaderProceed" class="view-plan purchase-plan ptp" ng-click="submitted=true" >{{purchaseName}}<em data-ng-show="loaderProceed" class="loading loading2"></em></md-button>-->

                                        <a href="javascript:void(0)" class="view-plan purchase-plan ctp" ng-click="comparePlan(viewPlanQuote)">Compare this Plan</a>
                                        <!--<a ng-click="showEmailPlanModal($event)" flex="" flex-md="100" class="view-plan mail-icon"></a>-->
                                        <a href="javascript:void(0)" ng-click="closeModal($event)" class="pclose-icon"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="plan-document">
                                <ul>
                                    <li><span>{{viewPlanQuote.PlanName}}</span></li>
                                    <li ng-if="viewPlanQuote.DocPath!=''"><a ng-href="{{ viewPlanQuote.DocPath}}" target="_blank">About Plan</a></li>
                                    <li ng-if="viewPlanQuote.DocPath2!=''"><a ng-href="{{ viewPlanQuote.DocPath2}}" target="_blank">Garage List</a></li>
                                    <li ng-if="viewPlanQuote.DocPath3!=''"><a ng-href="{{ viewPlanQuote.DocPath3}}" target="_blank">Claim Form</a></li>
                                    <li ng-if="viewPlanQuote.DocPath4!=''"><a ng-href="{{ viewPlanQuote.DocPath4}}" target="_blank">Some other detail</a></li>


                                </ul>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="plan-info">
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="first-info scroll">
                                            <h2>Features Available in this Plan</h2>
                                            <p ng-repeat="planFeatures in planBeneFits">
                                                <strong>{{planFeatures}}</strong>

                                            </p>

                                        </div>

                                        <div class="scroll">
                                            <div class="first-info second-info">
                                                <h2>Insurer Claim Detail</h2>
                                                <p ng-bind-html="viewPlanQuote.InsurerClaimDetail"></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                                        <div class="add-ons">
                                            <ul class="pdp" data-ng-if="NCBChanged && !isNew">
                                                <li><h2 ng-class="{'update-premium':showChangedMessage}">{{message}}</h2></li>
                                                <li>
                                                    <span class="lbl">Claim in last year/ Vehicle transferred in last 12 months</span>
                                                    <!--<p class="lbl claim">No claim bonus or NCB is the discount you get for every claim free year.</p>-->
                                                    <md-radio-group ng-model="thisNcbValues.IsClaimMade" data-ng-change="resetNCB(thisNcbValues.IsClaimMade)">
                                                        <md-radio-button ng-value=true ><span class="lbl">Yes</span></md-radio-button>
                                                        <md-radio-button ng-value=false ><span class="lbl">No</span></md-radio-button>
                                                    </md-radio-group>

                                                </li>
                                                <li>
                                                    <span class="lbl">What is the NCB Mentioned in your previous policy?</span>
                                                    <div class="ncb">
                                                        <md-select name="ncb" required placeholder="NCB" ng-model="thisNcbValues.currentNcb"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged || thisNcbValues.IsClaimMade" ng-class="{'disabled':reHitRequired || localNCBChanged || thisNcbValues.IsClaimMade}">
                                                            <md-option ng-repeat="ncb in ncbPercentages">{{ncb}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.ncb.$error"
                                                             ng-if="purchaseForm.ncb.$dirty || submitted">
                                                            <div ng-message="required">Select NCB</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="lbl">When was your car registered?</span>
                                                    <div class="date">
                                                        <md-select placeholder="DD" ng-model="registrationDate.date" name="date"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged" ng-class="{'disabled':reHitRequired || localNCBChanged}" required>
                                                            <md-option ng-repeat="date in regDates">{{date}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.date.$error"
                                                             ng-if="purchaseForm.date.$dirty || submitted">
                                                            <div ng-message="required">Select Date</div>
                                                        </div>
                                                    </div>
                                                    <div class="month">
                                                        <md-select placeholder="Month" ng-model="registrationDate.month" name="month"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged" ng-class="{'disabled':reHitRequired || localNCBChanged}" required >
                                                            <md-option ng-repeat="month in regMonths" ng-value="month.monthId">{{month.name}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.month.$error"
                                                             ng-if="purchaseForm.month.$dirty || submitted">
                                                            <div ng-message="required">Select Month</div>
                                                        </div>

                                                    </div>
                                                    <div class="year">
                                                        <md-select placeholder="Year" ng-model="registrationDate.year" name="year"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged" ng-class="{'disabled':reHitRequired || localNCBChanged}" required>
                                                            <md-option ng-repeat="year in regYears">{{year}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.year.$error"
                                                             ng-if="purchaseForm.year.$dirty || submitted">
                                                            <div ng-message="required">Select Year</div>
                                                        </div>

                                                    </div>
                                                </li>
                                                <li data-ng-if="viewPlanQuote.SupplierId==1 || viewPlanQuote.SupplierId==21">
                                                    <span class="lbl">Manufacturing Date</span>
                                                    <div class="month">
                                                        <md-select placeholder="Month" ng-model="manufacturingDate.month" name="manumonth"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged" ng-class="{'disabled':reHitRequired || localNCBChanged}" required >
                                                            <md-option ng-repeat="month in manuMonths" ng-value="month.monthId">{{month.name}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.manumonth.$error"
                                                             ng-if="purchaseForm.manumonth.$dirty || submitted">
                                                            <div ng-message="required">Select Month</div>
                                                        </div>

                                                    </div>
                                                    <div class="year">
                                                        <md-select placeholder="Year" ng-model="manufacturingDate.year" name="manuyear"
                                                                   data-ng-disabled="reHitRequired || localNCBChanged" ng-class="{'disabled':reHitRequired || localNCBChanged}" required>
                                                            <md-option ng-repeat="year in manuYears">{{year}}</md-option>
                                                        </md-select>
                                                        <div class="error-messaqe" ng-messages="purchaseForm.manuyear.$error"
                                                             ng-if="purchaseForm.manuyear.$dirty || submitted">
                                                            <div ng-message="required">Select Year</div>
                                                        </div>
                                                    </div>
                                                    <span ng-show = "errorManuMessage" class="rd-1 pdp-error" style="display:inline-block">Manufacturing date cannot be greater than registration date</span>
                                                </li>
                                            </ul>

                                            <div class="plan-details">
                                                <ul>
                                                    <li><md-button class="view-plan purchase-plan" ng-click="submitted=true" >{{proceedName}}</md-button></li>
                                                </ul>
                                            </div>
                                            <div class="message-overlay" data-ng-show="loaderProceed||insurerErroMessage">
                                                <a ng-click="closeModal($event)" class="addon-close"><span>Close</span></a>
                                                <p>{{insurerErroMessage}}</p>
                                                <span class="glyphicon glyphicon-refresh" aria-hidden="true" data-ng-click="buyThisPlan(true)" data-ng-show="reHitRequired && reHitPossible"></span>
                                                <em class="plan-loader" data-ng-show="loaderProceed"></em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </md-dialog-content>

    </md-dialog>
</div>
    </div>